
.navbar>.navbar-right>img{
    height: 40px;
    margin-left: 50px;
    background-color: white;    
}
.navbar-left{
   margin-left: auto;
   padding-right: 50px;
}

.navbar-left>.navbar-collapse>.navbar-nav>a{
    margin-left: 40px;
    text-align: center;
    color: black;
    font-weight: 700;
    transition: transform 0.2s ease-in-out;
    
   
}
.navbar-left>.navbar-collapse>.navbar-nav>a:hover{

color: blue;
transform: scale(1.3);
}
/* .navbar-left>.navbar-collapse>.navbar-nav>a:active{
    background-color: aqua;
} */
.container-fluid{
      
    position: sticky;
    top: 0px;
    background-color: white;
  
   
}